body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

:root{
    --bluebutton: #0070CC;
    --orangebutton: #D63D00;
    --backgroundbalck: #121314;
    --backgroundfooterblue: #00439C;
}

header .black{
    display: flex;
    justify-content: flex-end;
    padding: 10px 0px;
    background-color: black;
}

header .black figure img{
    margin-right: 10px;
    width: 74px;
    filter: invert(1);
}

header .navbar{
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
}

header .navbar .content{
    display: flex;
}

header .navbar .content figure img{
    width: 48px;
}

header .navbar .content .list{
    display: flex;
    align-items: center;
}

header .navbar .content .list ul{
    list-style: none;
    display: flex;
}

header .navbar .content .list ul li{
    padding: 0px 18px;
    font-size: 16px;
}

header .navbar .buttons{
    display: flex;
    align-items: center;
    padding: 0px 18px;
}

header .navbar .buttons .sessao{
    font-size: 16px;
    text-decoration: none;
    color: white;
    margin-right: 20px;
    background-color: var(--bluebutton);
    padding: 5px 20px;
    border-radius: 20px;
}

header .navbar .buttons .search{
    margin-top: 6px;
}

.banner{
    display: flex;
    justify-content: start;
    align-items: center;
    background: url(./assets/bannerspiderman.webp);
    background-position: center top;
    height: 650px;
    width: 100%;
}

.banner .content{
    margin-left: 120px;
    width: 600px;
}

.banner .content h2{
    font-size: 68px;
    color: white;
}

.banner .content h3{
    font-size: 38px;
    color: white;
    font-weight: 200;
}

.banner .content p{
    margin-top: 20px;
    color: white;
    font-size: 18px;
    margin-bottom: 36px;
}

.banner .content a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 25px;
    background-color: var(--orangebutton);
    border-radius: 24px;
    margin-left: 22px;
}

.banner .content a:hover{
    border: 3px solid rgba(255, 68, 0, 0.76) ;
    border-spacing: 0cap;
}

.games{
    height: 200px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.games .lista{
    width: 100%;
}

.games .lista ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.games .lista ul li{
    margin: 0px 12px;
}

.games .lista ul li figure img{
    width: 200px;
    border-radius: 24px;
}

.ps5{
    display: flex;
    height: 800px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0px ;
}

.ps5 .ps5mae{
    width: 100%;
    margin: 0px 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ps5 .ps5mae .content{ 
    width: 40%;
}

.ps5 .ps5mae .content h2{
    font-size: 56px;
    font-weight: 200;
}

.ps5 .ps5mae .content h3{
    margin-top: 32px;
    font-weight: 100;
    color: var(--bluebutton);
    font-size: 36px;
}

.ps5 .ps5mae .content p{
    font-size: 14px;
    color: grey;
    margin-bottom: 40px;
}

.ps5 .ps5mae .content a{
    text-decoration: none;
    padding: 15px 25px;
    color: white;
    border-radius: 24px;
    background-color: var(--bluebutton);
}

.ps5 .ps5mae .image{
    width: 60%;
}

.ps5 .ps5mae .image figure img{
    width: 100%;
}

.listgames{
    width: 100%;
    background-color: var(--backgroundbalck);
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    height: 700px;
}

.listgames .listgamesmae{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    height: 700px;
    width: 100%;
}

.listgames .listgamesmae .content{
    width: 100%;
}

.listgames .listgamesmae .lista{

    width: 100%;
}

.listgames .listgamesmae .lista .sublist{
    width: 100%;
}

.listgames .listgamesmae .content h2{
    font-weight: 200;
    color: white;
    font-size: 36px;
    margin-bottom: 24px;
}

.listgames .listgamesmae .content a{
    text-decoration: none;
    font-weight: 200;
    color: black;
    background-color: white;
    padding: 10px 20px;
    font-size: 22px;
    border-radius: 24px;
}

.listgames .listgamesmae figure img{
    width: 210px;
    height: 210px;
    border-radius: 24px;
}

.listgames .listgamesmae .list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.listgames .listgamesmae .list .sublist{
    display: flex;
    margin-bottom: 16px;
    justify-content: space-around;
    width: 100%;
}

.listgames .listgamesmae .list .sublist ul li p{
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    margin-bottom: 10px;
    margin-left: 8px;
    font-weight: 200;
    font-size: 14px;
    text-align: start;
    color: white;
}

.listgames .listgamesmae .list .sublist ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}


.listgames .listgamesmae .list .sublist ul li{
    margin: 0px 15px;
}


.psplus{
    padding-top: 80px;
    width: 100%;
    background-image: url(./assets/backgroudpsplus.webp);
    background-position: center;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.psplus .psplusmae{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.psplus .image{
    width: 100%;
    border-radius: 24px;
    display: flex;
    align-items: center;
}

.psplus .image .content{
    margin-top: 80px;
    width: 500px;
    margin-left: 30px;
}

.psplus .image .content a{
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    color: yellow;
    padding: 10px 86px;
    background-color: grey;
}

.psplus h2{
    font-weight: 200;
    font-size: 56px;
}

.psplus p{
    font-weight: 200;
    font-size: 14px;
    margin-top: 20px;
}

.psplus .psplusmae .logopsplus{
    width: 30%;
}

.psplus .psplusmae .logopsplus figure img{
    width: 100%;
    margin: 0 auto;
}

.psplus .psplusmae .image{
    width: 100%;
}

.psplus .psplusmae .content{
    width: 100%;
}


.psplus .psplusmae .image{
    margin-top: 20px;
    background-image: url(./assets/backgroundbask.webp);
    background-size: cover;
    width: 100%;
    height: 400px;
}

.psplus .image .content h3{
    margin-top: 28px;
    font-size: 36px;
    font-weight: 200;
    color: white;
}

.psplus .image .content p{
    color: white;
    font-weight: 200;
    font-size: 16px;
}

.psplus a{
    text-decoration: none;
    color: white;
    font-weight: 200;
    font-size: 18px;
    margin-top: 80px;
    padding: 10px 35px;
    background-color: var(--bluebutton);
    border-radius: 24px;
}

.psplus a:hover{
    transition: 0.1s;
    border: 2px solid blue;
}

.virtual{
    width: 100%;
    background-image: url(./assets/backgroundvirtual.webp);
    background-size: cover;
    background-position: center center;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.virtual .content{
    width: 35%;
    margin-left: 120px;
}

.virtual .content h2{
    color: white;
    font-weight: 200;
    font-size: 48px;
}

.virtual .content p{
    margin-top: 25px;
    color: white;
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 40px;
}

.virtual .content a{
    margin-left: 10px;
    text-decoration: none;
    padding: 10px 25px;
    background-color: white;
    font-size: 20px;
    color: black;
    border-radius: 24px;
}

.cod{
    width: 100%;
    background-image: url(./assets/backgroungcod.webp);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 700px;
}

.cod .content{
    margin-left: 120px;
    width: 100%;
}

.cod .content h2{
    font-size: 44px;
    font-weight: 200;
    color: white;
}

.cod .content span{
    font-weight: normal;
}

.cod .content p{
    margin-top: 48px;
    color: white;
    font-size: 18px;
    margin-bottom: 40px;
}

.cod .content a{
    color: black;
    font-size: 18px;
    font-weight: 400;
    border-radius: 24px;
    text-decoration: none;
    padding: 10px 30px;
    background-color: white;
}

.cod .lista ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cod .lista .icon{
    width: 400px;
    justify-content: space-between;
}

.cod .lista .icon figure img{
    width: 400px;
    border-radius: 28px;
}



.cod .lista ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.cod .lista .icon p{
    text-align: center;
    font-weight: 200;
    font-size: 24px;
    color: white;
}

.cod .lista .icon{
    margin: 0px 30px;
}

.psstore{
    width: 100%;
}

.psstore .maeps{
    margin-top: 50px;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.psstore .maeps .content{
    width: 38%;
}

.psstore .maeps .content h2{
    font-weight: 200;
    font-size: 40px;
    padding: 26px 0px;
}

.psstore .maeps .content p{
    font-size: 14px;
    font-weight: 300;
    color: grey;
    margin-bottom: 28px;
}

.psstore .maeps .content a{
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    background-color: var(--orangebutton);
    border-radius: 24px;
}

.psstore .image{
    width: 62%;
}

.psstore .image figure img{
    border-radius: 24px;
    width: 100%;
}

footer{
    width: 100%;
    background-color: var(--backgroundfooterblue);
}

footer .footer{
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
    width: 100%;
}

footer .footer .image{
    width: 100%;
}

footer .footer .image .psfooter img{
    width: 20%;
    filter: invert(1);
}

footer .footer .content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    color: white;
    font-weight: 300;
    font-size: 14px;
    flex-wrap: wrap;
}

footer .footer .content .sublist .negrito{
    font-weight: bold;
}

footer .footer .content .sublist ul{
    list-style-type: none;
}

footer .footer .content .sublist ul li{
    padding: 2px 0px;
}

footer .footer .rodape{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .footer .rodape {
    width: 100%;
}

footer .footer .rodape .image1{
    width: 20%;

}

footer .footer .rodape .image2{
    width: 3%;
}

footer .footer .rodapeinfo{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 200;
    padding: 10px 0px;
    font-size: 14px;
}

footer .footer .rodapeinfo a{
    color: white;
    font-size: 14px;
}

footer .footer .info{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

footer .footer .info .list1{
    display: flex;
    align-items: center;
}

footer .footer .info .list1 p{
    color: white;
    padding: 0px 8px;
}

footer .footer .info .list1 img{
    filter: invert(1);
}

footer .footer .info .list2 ul{
    display: flex;
    list-style-type: none;
    color: white;
}

footer .footer .info .list2 ul li a{
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    color: white;
    padding: 0px 10px;
}

footer .footer .linhafooter{
    margin-top: 10px;
    background-color: white;
    opacity: 20%;
    height: 2px;
    width: 100%;
}

@media only screen and (max-width: 1300px){
    header .navbar .buttons .sessao{
        font-size: 13px;
    }

    .games {
        width: 100%;
    }

    .games .lista ul li figure img{
        width: 120px;
    }

    .ps5{
        height: 700px;
    }

    .listgames .list .sublist ul li figure img{
        width: 140px;
        height: 140px;
    }

    .psplus p{
        font-size: 10px;
    }

    .psplus .image{
        width: 1000px;
    }

    .cod{
        width: 100%;
    }

    .cod .lista ul .icon figure img{
        width: 280px;
    }
}

@media only screen and (max-width: 1300px){

    header .navbar .content .list{
        display: none;
    }

   .banner{
        width: 100%;
        background-position: right right;
        align-items: end;
        
    }

    .banner .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0px 16px;
    }

    .banner .content h2{
        margin: 0;
        padding: 0;
        font-size: 20px;
    }

    .banner .content a{
        padding: 0px;
        margin: 0px;
        margin-bottom: 12px;
        font-size: 16px;
    }

    .games{
        display: none;
        height: 700px;
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 0;
        align-items:  center;
    }

    .games .lista{
        width: 100%;
        height: 100%;
    }

    .games .lista ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:  center;
    }

    .games .lista ul li figure img{
        width: 250px;
    }

    .ps5 .ps5mae{
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .ps5 .ps5mae .content{
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .ps5 .ps5mae .content h2{
        order: 1;
    }

    .ps5 .ps5mae .image{
        margin-top: 50px;
    }

    .ps5 .ps5mae .image figure img{
        order: 2;
    }

    .ps5 .ps5mae .content .restantecontent{
        order: 3;
    }

    .ps5 .ps5mae .content h2{
        font-size: 32px;
    }

    .listgames .listgamesmae .content h2{
        font-size: 24px;
    }

    .listgames .listgamesmae .list .sublist ul{
        width: 100%;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .listgames .listgamesmae .list .sublist ul li img{
        width: 80px;
        height: 80px;
        
    }

    .listgames .listgamesmae .list .sublist ul li{
        width: 140px;
        margin: 0;
        padding: 0;
    }

    .listgames .listgamesmae .list .sublist ul li p{
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin: 0;
        padding: 0;
        font-size: 11px;
    }

    .psplus{
        padding: 0;
    }

    .psplus .psplusmae .logopsplus{
        width: 50%;
    }

    .psplus .psplusmae{
        text-align: center;
    }

    .psplus .psplusmae .content{
        margin: 0;
        padding: 0;
        text-align: center;
        justify-content: center;
    }

    .psplus .psplusmae .image{
        background-position: center center;
    }

    .virtual{
        width: 100%;
        background-position: bottom;
        background-size: cover;
        padding: 0;
    }

    .virtual .content{
        margin: 0;
        width: 100%;
        align-items: end;
        justify-content: center;
        text-align: center;
    }

    .virtual .content h2{
        font-size: 24px;
    }

    .virtual .content p{
        font-size: 14px;
    }

    .cod{
        margin: 0;
        padding: 0;
        height: 1000px;
        justify-content: center;
        text-align: center;
    }

    .cod .content {
        padding: 0;
        margin: 0;
    }

    .cod .lista{
        margin-top: 30px;
    }

    .cod .lista ul .icon figure img{
        width: 240px;
    }

    .cod .lista ul .icon p{
        font-size: 16px;
    }

    .psstore{
        margin: 0;
        padding: 0;
        height: 700px;
    }

    .psstore .maeps{
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .psstore .maeps .image{
        width: 100%;
        order: 1;
        
    }

    .psstore .maeps .image figure img{
        position: relative;
    }


    .psstore .maeps .content{
        width: 100%;
        text-align: center;
        padding: 0px 10px;
        order: 2;
    }

    footer .footer .image .psfooter img{
        width: 50%;
    }

    footer .footer .content{
        flex-direction: column;
    }

    footer .footer .content .sublist{
        margin: 10px 0px;
    }
}

