body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

:root{
    --bluebutton: #0070CC;
    --orangebutton: #D63D00;
    --backgroundbalck: #121314;
}

header .black{
    display: flex;
    justify-content: flex-end;
    padding: 10px 0px;
    background-color: black;
}

header .black figure img{
    margin-right: 10px;
    width: 74px;
    filter: invert(1);
}

header .navbar{
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
}

header .navbar .content{
    display: flex;
}

header .navbar .content figure img{
    width: 48px;
}

header .navbar .content .list{
    display: flex;
    align-items: center;
}

header .navbar .content .list ul{
    list-style: none;
    display: flex;
}

header .navbar .content .list ul li{
    padding: 0px 18px;
    font-size: 16px;
}

header .navbar .buttons{
    display: flex;
    align-items: center;
    padding: 0px 18px;
}

header .navbar .buttons .sessao{
    font-size: 16px;
    text-decoration: none;
    color: white;
    margin-right: 20px;
    background-color: var(--bluebutton);
    padding: 5px 20px;
    border-radius: 20px;
}

header .navbar .buttons .search{
    margin-top: 6px;
}

.banner{
    display: flex;
    justify-content: start;
    align-items: center;
    background: url(./assets/bannerspiderman.webp);
    background-position: center top;
    height: 650px;
    width: 100%;
}

.banner .content{
    margin-left: 120px;
    width: 600px;
}

.banner .content h2{
    font-size: 68px;
    color: white;
}

.banner .content h3{
    font-size: 38px;
    color: white;
    font-weight: 200;
}

.banner .content p{
    margin-top: 20px;
    color: white;
    font-size: 18px;
    margin-bottom: 36px;
}

.banner .content a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 25px;
    background-color: var(--orangebutton);
    border-radius: 24px;
    margin-left: 22px;
}

.banner .content a:hover{
    border: 3px solid rgba(255, 68, 0, 0.76) ;
    border-spacing: 0cap;
}

.games{
    height: 200px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.games .lista{
    width: 100%;
}

.games .lista ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.games .lista ul li{
    margin: 0px 12px;
}

.games .lista ul li figure img{
    width: 200px;
    border-radius: 24px;
}

.ps5{
    display: flex;
    height: 500px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0px ;
}

.ps5 .content{ 
    width: 40%;
}

.ps5 .content h2{
    font-size: 56px;
    font-weight: 200;
}

.ps5 .content h3{
    margin-top: 32px;
    font-weight: 100;
    color: var(--bluebutton);
    font-size: 36px;
}

.ps5 .content p{
    font-size: 14px;
    color: grey;
    margin-bottom: 40px;
}

.ps5 .content a{
    text-decoration: none;
    padding: 15px 25px;
    color: white;
    border-radius: 24px;
    background-color: var(--bluebutton);
}


.ps5 .image figure img{
    width: 600px;
}

.listgames{
    width: 100%;
    background-color: var(--backgroundbalck);
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    height: 700px;
}

.listgames .content h2{
    font-weight: 200;
    color: white;
    font-size: 36px;
    margin-bottom: 24px;
}

.listgames .content a{
    text-decoration: none;
    font-weight: 200;
    color: black;
    background-color: white;
    padding: 10px 20px;
    font-size: 22px;
    border-radius: 24px;
}

.listgames figure img{
    width: 210px;
    height: 210px;
    border-radius: 24px;
}

.listgames .list{
    display: flex;
    flex-direction: column;
}

.listgames .list .sublist{
    display: flex;
    margin-bottom: 16px;
    justify-content: space-around;
}

.listgames .list .sublist ul li p{
    padding: 0;
    margin-bottom: 10px;
    margin-left: 8px;
    font-weight: 200;
    font-size: 14px;
    text-align: start;
    color: white;
}

.listgames .list .sublist ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}


.listgames .list .sublist ul li{
    margin: 0px 15px;
}


.psplus{
    padding-top: 80px;
    width: 100%;
    background-image: url(./assets/backgroudpsplus.webp);
    background-position: center;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.psplus .image{
    border-radius: 24px;
    display: flex;
    align-items: center;
}

.psplus .image .content{
    margin-top: 80px;
    width: 500px;
    margin-left: 30px;
}

.psplus .image .content a{
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    color: yellow;
    padding: 10px 86px;
    background-color: grey;
}

.psplus h2{
    font-weight: 200;
    font-size: 56px;
}

.psplus p{
    font-weight: 200;
    font-size: 14px;
    margin-top: 20px;
}

.psplus figure img{
    width: 400px;
    margin: 0 auto;
}

.psplus .image{
    margin-top: 20px;
    background-image: url(./assets/backgroundbask.webp);
    background-size: cover;
    width: 1200px;
    height: 400px;
}

.psplus .image .content h3{
    margin-top: 28px;
    font-size: 36px;
    font-weight: 200;
    color: white;
}

.psplus .image .content p{
    color: white;
    font-weight: 200;
    font-size: 16px;
}

.psplus a{
    text-decoration: none;
    color: white;
    font-weight: 200;
    font-size: 18px;
    margin-top: 80px;
    padding: 10px 35px;
    background-color: var(--bluebutton);
    border-radius: 24px;
}

.psplus a:hover{
    transition: 0.1s;
    border: 2px solid blue;
}

.virtual{
    width: 100%;
    background-image: url(./assets/backgroundvirtual.webp);
    background-size: cover;
    background-position: center center;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.virtual .content{
    width: 35%;
    margin-left: 120px;
}

.virtual .content h2{
    color: white;
    font-weight: 200;
    font-size: 48px;
}

.virtual .content p{
    margin-top: 25px;
    color: white;
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 40px;
}

.virtual .content a{
    margin-left: 10px;
    text-decoration: none;
    padding: 10px 25px;
    background-color: white;
    font-size: 20px;
    color: black;
    border-radius: 24px;
}

.cod{
    width: 100%;
    background-image: url(./assets/backgroungcod.webp);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 700px;
}

.cod .content{
    margin-left: 80px;
}

.cod .content h2{
    font-size: 44px;
    font-weight: 200;
    color: white;
}

.cod .content span{
    font-weight: normal;
}

.cod .content p{
    margin-top: 48px;
    color: white;
    font-size: 18px;
    margin-bottom: 40px;
}

.cod .content a{
    color: black;
    font-size: 18px;
    font-weight: 400;
    border-radius: 24px;
    text-decoration: none;
    padding: 10px 30px;
    background-color: white;
}

.cod .lista ul{
    display: flex;
    justify-content: space-around;
}

.cod .lista .icon{
    width: 400px;
    justify-content: space-between;
}

.cod .lista .icon figure img{
    width: 400px;
    border-radius: 28px;
}



.cod .lista ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.cod .lista .icon p{
    text-align: center;
    font-weight: 200;
    font-size: 24px;
    color: white;
}

.cod .lista .icon{
    margin: 0px 30px;
}

.psstore{
    width: 100%;
}

.psstore .maeps{
    margin-top: 50px;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.psstore .maeps .content{
    width: 38%;
}

.psstore .maeps .content h2{
    font-weight: 200;
    font-size: 40px;
    padding: 26px 0px;
}

.psstore .maeps .content p{
    font-size: 14px;
    font-weight: 300;
    color: grey;
    margin-bottom: 28px;
}

.psstore .maeps .content a{
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    background-color: var(--orangebutton);
    border-radius: 24px;
}

.psstore .image{
    width: 62%;
}

.psstore .image figure img{
    border-radius: 24px;
    width: 100%;
}

@media only screen and (max-width: 1300px){
    .games .lista ul li figure img{
        width: 140px;
    }

    .ps5{
        height: 700px;
    }

    .listgames .list .sublist ul li figure img{
        width: 140px;
        height: 140px;
    }

    .psplus p{
        font-size: 10px;
    }

    .psplus .image{
        width: 1000px;
    }

    .cod .lista .icon figure img{
        width: 320px;
    }
}
